<h1 class="mt-4">Temas</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active" class="font-weight-bold">Configuração de temas</li>
</ol>
<div class="container">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" (click)="cores(1)" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Tema Classic
    </label>
  </div>
  <br>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" (click)="cores(2)" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Tema Ocian
    </label>
  </div>
  <br>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" (click)="cores(3)" value="opcao3">
    <label class="form-check-label" for="exampleRadios3">
      Tema Florest
    </label>
  </div>
  <br>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" (click)="cores(4)" value="opcao4">
    <label class="form-check-label" for="exampleRadios4">
      Tema Night
    </label>
  </div>
  <br>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" (click)="cores(5)" value="opcao5">
    <label class="form-check-label" for="exampleRadios5">
      Tema Vulcano
    </label>
  </div>

</div>