<h1 class="mt-4">Analise de Crédito</h1>
<ol class="breadcrumb mb-4">
    
    <div class="row">
        <div class="col-md-6">
            <span class="font-weight-bold">Solicitação de Cartão da loja</span>
            <a routerLink="/clientes/cartao"><img src="../../assets/cartao.jpg" class="img-fluid " alt=""></a>
        </div>
        <div class="col-md-6">
            <span class="font-weight-bold">Analise de Crédito de pedidos</span>
            <a routerLink="/clientes/lista"><img src="../../assets/pedidos.jpg" class="img-fluid" alt=""></a>
        </div>
    </div>
</ol>