<h1 class="mt-4">Liberação de crédito por pedido</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Atualização de dados de clientes</li>
</ol>
<div class="container">
    <form #clientesForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" [(ngModel)]="clientec.id" name="id">
                </div>
            </div>
            <div class="col-md-4">
                <label>CPF:</label>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Pesquisar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>
            <div class="col-md-4">
                <label>PEDIDO:</label>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Pesquisar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>NOME:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.nome" name="nome">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>CPF:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.rg" name="cpf">
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>RG: </label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.tel2" name="rg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>DT NASCIMENTO:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.dtNasc" name="dtNasc">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>COMENTARIOS: </label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.comentarios" name="comentarios">
                </div>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Informações de pedido</li>
        </ol>
        <div class="container">
            <form #enderecosForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>DATA DO PEDIDO</label><br>
                            <label>DATA </label>
                        </div>
                        <div class="form-group">
                            <label>QUANTIDADE DE PARCELAS</label><br>
                            <label>QTD</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>VALOR DO PEDIDO</label><br>
                            <label>VALOR</label>
                        </div>
                        <div class="form-group">
                            <label>SITUAÇÃO DO PEDIDO</label><br>
                            <label>SITUAÇÃO</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>FORMA DE PAGAMENTO</label><br>
                            <label>FORMA</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Atualização de renda familiar</li>
        </ol>
        <div class="container">
            <form #rendasForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Dependentes</label>
                            <input type="number" class="form-control" name="dependentes">
                        </div>
                        <div class="form-group">
                            <label>Renda</label>
                            <input type="number" class="form-control" name="renda">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Profissão</label>
                            <input type="text" class="form-control" name="profissao">
                        </div>
                        <div class="form-group">
                            <label>Renda familiar</label>
                            <input type="number" class="form-control" name="rendaFamiliar">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Empresa</label>
                            <input type="text" class="form-control" name="empresa">
                        </div>
                        <div class="form-group">
                            <label>Renda Total</label><br>
                            <label>VALOR TOTAL</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <button type="submit" class="btn btn-success">Salvar <i class="far fa-save"></i></button>






    </form>
</div>