<script src="./../../js.js" type="text/html"></script>

<h1 class="mt-4">Analise de crédito</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" class="font-weight-bold">Abaixo informações sobre a Analise de crédito referente
        a esta solicitação</li>
</ol>
<div class="container">

    <form #analiseForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <h4>Id</h4>
                <div>
                    <h4 [ngModel]="analise.cliente" name="id">{{ id }}</h4>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Nome</h4>
                <h4>{{ nome }}</h4>
            </div>
            <div class="col-md-4">
                <h4>Pedido</h4>
                <h4>data da analise</h4>
            </div>
        </div>
        <br>
        <div class="table-hover">
            <table class="table">
                <thead>
                    <tr class="table-warning">
                        <th scope="col">TIPO DE ANALISE</th>
                        <th scope="col">SCORE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ANALISE POR CPF</th>
                        <td>Score da Analise</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE DE PENDENCIAS</th>
                        <td>Score da Analise</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE POR IDADE</th>
                        <td>Score da Analise</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE POR PROFISSÃO</th>
                        <td>Score da Analise</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE POR RENDA</th>
                        <td>Score da Analise</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE POR PERCENTUAL DE ENDIVIDAMENTO</th>
                        <td>Score da Analise</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">SCORE TOTAL</th>
                        <td>Score da Analise</td>
                    </tr>
                </tbody>
            </table>
            <h1>SITUAÇÃO: APROVADO</h1>
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-success mr-2">Liberar Pedido</button>
                    <button type="submit" class="btn btn-dark mr-2">Liberar sob concessão</button>
                </div>
            </div>
        </div>
    </form>