<h1 class="mt-4">Solicitação de Cartões</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" class="font-weight-bold">Atualização de dados de clientes</li>
</ol>
<div class="container">
    <form #clientesForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" [(ngModel)]="clientec.id" name="id">
                </div>
            </div>
            <div class="col-md-4">
                <label>CPF:</label>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Pesquisar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>NOME:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.nome" name="nome">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>RG:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.rg" name="rg">
                </div>
                <div class="form-group">
                    <label>TEL 1:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.tel1" name="tel1">
                </div>
                <div class="form-group">
                    <label>DT NASCIMENTO:*</label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.dtNasc" name="dtNasc">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>TEL 2: </label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.tel2" name="tel2">
                </div>
                <div class="form-group">
                    <label>COMENTARIOS: </label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.comentarios" name="comentarios">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>SEXO: </label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.sexo" name="sexo">
                </div>
                <div class="form-group">
                    <label>ESTADO CIVIL : </label>
                    <input type="text" class="form-control" [(ngModel)]="clientec.estadoCivil" name="estadoCivil">
                </div>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Atualização de dados de endereço</li>
        </ol>
        <div class="container">
            <form #enderecosForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Endereço</label>
                            <input type="text" class="form-control" name="endereco">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Numero</label>
                            <input type="number" class="form-control" name="numero">
                        </div>
                        <div class="form-group">
                            <label>Cidade</label>
                            <input type="text" class="form-control" name="cidade">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Complemento</label>
                            <input type="text" class="form-control" name="complemento">
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <input type="text" class="form-control" name="estado">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Bairro</label>
                            <input type="text" class="form-control" name="bairro">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Atualização de renda familiar</li>
        </ol>
        <div class="container">
            <form #rendasForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Dependentes</label>
                            <input type="number" class="form-control" name="dependentes">
                        </div>
                        <div class="form-group">
                            <label>Renda</label>
                            <input type="number" class="form-control" name="renda">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Profissão</label>
                            <input type="text" class="form-control" name="profissao">
                        </div>
                        <div class="form-group">
                            <label>Renda familiar</label>
                            <input type="number" class="form-control" name="rendaFamiliar">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Empresa</label>
                            <input type="text" class="form-control" name="empresa">
                        </div>
                        <div class="form-group">
                            <label>Renda Total</label><br>
                            <label>VALOR TOTAL</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <button type="submit" class="btn btn-success">Salvar <i class="far fa-save"></i></button>






    </form>
</div>