<h1 class="mt-4">Clientes Fidelizados</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" class="font-weight-bold">Liberação de crédito para clientes fidelizados</li>
</ol>
<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>NOME:*</label>
                    <input type="text" class="form-control" [ngModel]="cliente.nome" name="nome" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>RG:*</label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.rg" name="rg">
                </div>
                <div class="form-group">
                    <label>TEL 1:*</label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.tel1" name="tel1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>DT NASCIMENTO:*</label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.dtNasc" name="dtNasc">
                </div>
                <div class="form-group">
                    <label>TEL 2: </label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.tel2" name="tel2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>SEXO: </label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.sexo" name="sexo">
                </div>
                <div class="form-group">
                    <label>ESTADO CIVIL : </label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.estadoCivil" name="estadoCivil">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>COMENTARIOS: </label>
                    <input type="text" class="form-control"  [(ngModel)]="cliente.comentarios" name="comentarios">
                </div>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active" class="font-weight-bold">Atualização de dados de endereço</li>
        </ol>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ENDEREÇO</label>
                        <input type="text" class="form-control"  [(ngModel)]="cliente.endereco" name="endereco">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>NUMERO</label>
                        <input type="number" class="form-control"  [(ngModel)]="cliente.numero" name="numero">
                    </div>
                    <div class="form-group">
                        <label>CIDADE</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.cidade" name="cidade">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>COMPLEMENTO</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.complemento" name="complemento">
                    </div>
                    <div class="form-group">
                        <label>ESTADO</label>
                        <input type="text" class="form-control"  [(ngModel)]="cliente.estado" name="estado">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>BAIRRO</label>
                        <input type="text" class="form-control"  [(ngModel)]="cliente.bairro" name="bairro">
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active" class="font-weight-bold">Confirmação de rendas</li>
        </ol>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>DEPENDENTES</label>
                        <input type="number" class="form-control" [(ngModel)]="cliente.dependentes" name="dependentes">
                    </div>
                    <div class="form-group">
                        <label>RENDA</label>
                        <input type="number" class="form-control" [(ngModel)]="cliente.renda" name="renda" onratechange="CalculaRenda()">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>PROFISSÃO</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.profissao" name="profissao">
                    </div>
                    <div class="form-group">
                        <label>RENDA FAMILIAR</label>
                        <input type="number" class="form-control" [(ngModel)]="cliente.rendaFamiliar" onratechange="CalculaRenda()" name="rendaFamiliar">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>EMPRESA</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.empresa" name="empresa">
                    </div>
                    <div class="form-group">
                        <label>RENDA TOTAL</label><br>
                        <label > {{ cliente.rendaTotal }}</label>
                    </div>
                </div>
            </div>
        </div>
       
        <div>
            <button type="button" class="btn btn-success mr-2" routerLink="/pedido/form/{{cliente.id}}" >Atualizar/Confirmar <i class="fas fa-save"></i></button>
        </div>
    </form>
</div>