<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active" class="font-weight-bold">Criação de usuários</li>
</ol>
<div class="container">
  <form #usuariosForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <div >
          <label>NOME:</label>
          <input type="text" [(ngModel)]="usuario.user" class="form-control" name="user" class="ml-2">
        </div>
        <div >
          <label>LOGIN:</label>
          <input type="text" [(ngModel)]="usuario.login" class="form-control"  name="login" class="ml-2" >
        </div>
        <div >
          <label>SENHA:</label>
          <input type="password" [(ngModel)]="usuario.senha" class="form-control" name="senha" class="ml-2" >
        </div>
        <br>
        <div class="row">
          <div class="col-md-4 mr-4">
            <h6>Tipo</h6><br>
            <div>
              <select>
                <option>Usuário</option>
                <option>Gestor</option>
                <option>Administrador</option>
              </select>
            </div>
            <br>
          </div>
          <div class="col-md-4 ">
            <h6>Situação</h6><br>
            <div>
              <select>
                <option>Bloqueado</option>
                <option>Liberado</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 ">
            <h6>Data Inicio</h6>
            <div>
              <input type="date" [(ngModel)]="usuario.cadastroUser">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success mb-4">Salvar<i class="fas fa-save ml-2"></i></button>
    <br>
  </form>
  <div class="table-hover">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">LOGIN</th>
          <th scope="col">TIPO</th>
          <th scope="col">SITUAÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuario">
          <th scope="row">{{ usuario.id }}</th>
          <td>{{ usuario.user }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.tipoUser }}</td>
          <td>{{ usuario.situacao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>