<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active" class="font-weight-bold">Criação de usuários</li>
</ol>
<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>NOME:</label>
          <input type="text" formControlName="user" class="ml-2">
        </div>
        <div class="form-group">
          <label>LOGIN:</label>
          <input type="text"  formControlName="login" class="ml-2" >
        </div>
        <div class="form-group">
          <label>SENHA:</label>
          <input type="text"  formControlName="senha" class="ml-2" >
        </div>
        <br>
        <h4>Tipo de usuário</h4><br>
        <div   >
          <select formControlName="tipoUser">
            <option>Usuário</option>
            <option>Gestor</option>
            <option>Administrador</option>
          </select>
        </div>
        <br>
        <h4>Situação</h4><br>
        <div>
          <select formControlName="situacao">
            <option>Bloqueado</option>
            <option>Gestor</option>
            <option>Administrador</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success mb-4">Salvar<i class="fas fa-save ml-2"></i></button>
    <br>
  </form>
  <div class="table-hover">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">LOGIN</th>
          <th scope="col">TIPO</th>
          <th scope="col">SITUAÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuario">
          <th scope="row">{{ usuario.id }}</th>
          <td>{{ usuario.user }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.tipoUser }}</td>
          <td>{{ usuario.situacao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>