<h1 class="mt-4">Endereços</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Atualização de dados de endereço</li>
</ol>
<div class="container">
    <form #enderecosForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" class="form-control" [(ngModel)]="enderecosc.endereco" name="endereco">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Numero</label>
                    <input type="number" class="form-control" [(ngModel)]="enderecosc.numero" name="numero">
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                    <input type="text" class="form-control" [(ngModel)]="enderecosc.cidade" name="cidade">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Complemento</label>
                    <input type="text" class="form-control" [(ngModel)]="enderecosc.complemento" name="complemento">
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <input type="text" class="form-control" [(ngModel)]="enderecosc.estado" name="estado">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Bairro</label>
                    <input type="text" class="form-control" [(ngModel)]="enderecosc.bairro" name="bairro">
                </div>
            </div>
        </div>
    </form>
    <div>
        <button  class="btn btn-success mr-2">Voltar <i class="fas fa-backward"></i></button>
        <button  class="btn btn-success mr-2">Alterar <i class="fas fa-edit"></i></button>
        <button type="submit" class="btn btn-success">Próximo <i class="fas fa-forward"></i></button>
    </div>
</div>