<script src="./../../js.js" type="text/html"></script>

<h1 class="mt-4">Analise de crédito</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" class="font-weight-bold">Abaixo informações sobre a Analise de crédito referente
        a esta solicitação zsdg</li>
</ol>
<div class="container">

    <form #analiseForm="ngForm"  (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <h4>Id</h4>
                <div >
                    <h4>{{idCliente}}</h4>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Data</h4>
                <h4> {{analise?.dataAnalise}}</h4>
            </div>
        </div>
        <br>
        <div  class="table-hover">
            <table class="table">
                <thead>
                    <tr class="table-warning">
                        <th scope="col">TIPO DE ANALISE</th>
                        <th scope="col">SCORE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ANALISE POR CPF</th>
                        <td  >{{analise?.analiseCpf}}</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE POR RENDA</th>
                        <td >{{analise?.analiseRenda}}</td>
                    </tr>
                    <tr>
                        <th scope="row">ANALISE POR PERCENTUAL DE ENDIVIDAMENTO</th>
                        <td >{{analise?.analisePerc}}</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">SCORE TOTAL</th>
                        <td>{{analise?.score}}</td>
                    </tr>
                </tbody>
            </table>
            <h1>SITUAÇÃO: {{analise?.situacao}}</h1>
            <div class="container">
                <div class="row">
                    <button type="submit" class="btn btn-dark mr-2">Liberar sob concessão</button>
                </div>
            </div>
        </div>
    </form>

