<app-navbar></app-navbar>
<div id="layoutSidenav">
    <app-sidebar></app-sidebar>
    <div id="layoutSidenav_content">
       <main>
           <div class="conteiner-fluid">

           </div>
           <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <app-home></app-home>
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Desenvolvimento Flavio Ribeiro</div>
                   
                </div>
            </div>
        </footer>

       </main>
    </div>
</div>