<h1 class="mt-4">Confirmação de Renda</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" class="font-weight-bold">Confirmação de rendas</li>
</ol>
<div class="container">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Atualização de renda familiar</li>
    </ol>
    <div class="container">
        <form #rendasForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dependentes</label>
                        <input type="number" class="form-control" [(ngModel)]="rendasc.dependentes" name="dependentes">
                    </div>
                    <div class="form-group">
                        <label>Renda</label>
                        <input type="number" class="form-control" [(ngModel)]="rendasc.renda" name="renda">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Profissão</label>
                        <input type="text" class="form-control" [(ngModel)]="rendasc.profissao" name="profissao">
                    </div>
                    <div class="form-group">
                        <label>Renda familiar</label>
                        <input type="number" class="form-control" [(ngModel)]="rendasc.rendaFamiliar" name="rendaFamiliar">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Empresa</label>
                        <input type="text" class="form-control" [(ngModel)]="rendasc.empresa" name="empresa">
                    </div>
                    <div class="form-group">
                        <label>Renda Total</label><br>
                        <label>VALOR TOTAL</label>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button  class="btn btn-success mr-2">Voltar <i class="fas fa-backward"></i></button>
            <button  class="btn btn-success mr-2">Alterar <i class="fas fa-edit"></i></button>
            <button type="submit" class="btn btn-success">Realizar Analise <i class="far fa-save"></i></button>
        </div>
        
       

    