<h1 class="mt-4">Metricas</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active" class="font-weight-bold">Configuração de métricas</li>
</ol>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Analise por CPF</li>
  <p>Se você ativar esta opção, a métrica de analise por CPF, realizará uma pesquisa na base de dados,
    porcurando por compras realizadas por este CPF nesta instituição.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Analise por Estado civil</li>
  <p>Se você ativar esta opção, a métrica de analise por estado civil, realizará uma pesquisa na base
    de dados,
    buscando relação entre riscos de crédito por estado civil.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Analise por Idade</li>
  <p>Se você ativar esta opção, a métrica de analise por idade, realizará uma pesquisa na base de
    dados,
    buscando relação entre riscos de crédito por idade.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Analise por profissão</li>
  <p>Se você ativar esta opção, a métrica de analise por profissão, realizará uma pesquisa na base de
    dados,
    buscando relação entre riscos de crédito por profissão.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Analise por Renda</li>
  <p>Se você ativar esta opção, a métrica de analise por renda, realizará uma pesquisa na base de
    dados,buscando relação entre riscos de crédito por renda.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
</div>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Analise por Percentual de endividamento</li>
  <p>Se você ativar esta opção, a métrica de analise por percentual de endividamento, encontrará o
    percentual do valor da parcela em comparação com a renda individual e irá comparar com o
    percentual definido pela instituição.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <input type="number" class="form-control">
    </div>
    <div class="col-md-6">
      <label>% de endividamento em relação à renda individual</label>
    </div>
  </div>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Liberação automática de crédito</li>
  <p>Se você ativar esta opção, o sistema liberará o crédito de acordo com os valores estipulados pela instituição,
    baseada na regra que o cliente estiver classificado.</p>
</ol>
<div class="conteiner-fluid m-4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios1" value="opcao1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Ativar esta analise
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios2" value="opcao2">
    <label class="form-check-label" for="exampleRadios2">
      Desativar esta analise
    </label>
  </div>
  <br>
    <h3>CLASSIFICAÇÃO</h3>
  <div class="row">
    <div class="col-md-2">
      <br>
      <div class="p-3 mb-2 bg-danger text-white">VERMELHO</div><br>
      <div class="p-3 mb-2 bg-warning text-dark">AMARELO</div><br>
    </div>
    <div class="col-md-2">
      <br>
      <div class="p-2 mb-2 bg-danger text-white"><input type="number" class="form-control"></div><br>
      <div class="p-2 mb-2 bg-warning text-dark"><input type="number" class="form-control"></div><br>
    </div>
    <div class="col-md-2">
      <br>
      <div class="p-3 mb-2 bg-success text-white">VERDE</div><br>
      <div class="p-3 mb-2 bg-primary text-white">AZUL</div>
    </div>
    <div class="col-md-2">
      <br>
      <div class="p-2 mb-2 bg-success text-white"><input type="number" class="form-control" ></div><br>
       <div class="p-2 mb-2 bg-primary text-white"><input type="number" class="form-control" ></div>
    </div>
  </div>
</div>