<h1 class="mt-4">Analise de Crédito</h1>
<ol class="breadcrumb mb-4">
    
    <div class="row">
        <div class="col-md-6">
            <span class="font-weight-bold">Solicitação de cartão da loja</span>
            <a routerLink="/clientes-form"><img src="../../assets/cartao.jpg" class="img-fluid" alt=""></a>
        </div>
        <div class="col-md-6">
            <span class="font-weight-bold">Crédito para liberação de pedido</span>
            <a routerLink="/clientes-cartao"><img src="../../assets/pedidos.jpg" class="img-fluid" alt=""></a>
        </div>
    </div>
</ol>